@font-face {
  font-family:"Harry";
  src: url("../css/Harry.ttf") format("truetype");
}

.star {
    animation: star 15s ease-in-out;
  }
  a {
    font-size: 30px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(155, 153, 125);
    text-decoration: none;
    font-family: Harry;
  }
  
  /* Keyframes */
  @keyframes star {
    0% {
      opacity: 0;
      transform: scale(1) translateZ(-100em);
    }
    20% {
      opacity: 1;
      transform: scale(1)
    }
    /*50% {
      opacity: 1;
      transform: scale(1) translateZ(50em) 
    }

    89% {
      opacity: 1;
      transform: scale(1) translateZ(70em) 
    } */
    100% {
      opacity: 0;
      transform: translateZ(200em);
    }
  }

  
  /* Make the 3D work on the container */
  .starwars-demo {
    perspective: 800px;
    transform-style: preserve3d;
  }
  
  /* General styles and layout */
/*   body {
    background: #000 url(fond.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat
  } */
  html { 
    margin:0;
    padding:0;
    background: url(fond.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .starwars-demo {
    height: 17em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 34em;
  }
  
  
  img {
    width: 100%;
  }
  
  .star {
    position: absolute;
  }
  
  .star {
    top: -1em;
  }
  
  
  /*** Media queries for adjusting to different screen sizes ***/
  
  @media only screen and (max-width: 600px) {
    .starwars-demo {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .starwars-demo {
      font-size: 7px;
    }
  }
 /*  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    top: 250px;
  } */
  
 /*  .crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 30s ease-out;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  } */

   body {
    overflow: hidden;
  }